.bannerimg{
    z-index: 0;
    width:100vw;
    position: relative;
    display:block;
    margin-top:10vh!important;
}

.bannerRow{
    padding: 0 auto!important;
}

.title{
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 4rem;
    position: absolute;
    text-align: center;
    top:23%;
    left:40%;
    margin: 0 auto!important;
    padding:0 auto!important;
    color: #acbbd4;
    z-index: 3;
    float: center;
}

.titleContainer{
    width:100vw;
    justify-items:center;
    align-items: center;
    text-align: center;
    padding: 0 auto;
    float:center;
}

.jumbotron{
    top:0;
    width:100%;
    margin:0;
}

@media only screen and (max-width: 1000px) {
    .title{
        top: 19%;
        left: 37%;
    }
}

@media only screen and (max-width: 770px) {
    .title{
        top: 17%;
        left:35%;
    }
}

@media only screen and (max-width: 700px) {
    .title{
        top: 17%;
        left:34%;
    }
}

@media only screen and (max-width: 650px) {
    .title{
        top: 15%;
        left:31%;
    }
}

@media only screen and (max-width: 599px) {
    .title{
        font-size:3.5em;
        top: 14%;
        left:30%;
    }
}

@media only screen and (max-width: 499px) {
    .title{
        top: 12%;
        left:25%;
    }
}

@media only screen and (max-width: 425px) {
    .title{
        font-size:3em;
        top: 13%;
        left:26%;
    }
}

@media only screen and (max-width: 400px) {
    .title{
        top: 12%;
        left:23%;
    }
}

@media only screen and (max-width: 350px) {
    .title{
        font-size:2.5em;
        top: 12%;
        left:23%;
    }
}