.container{
    margin-top:0;
    margin-bottom:5vh;;
    width:100%;
    top:0;
  }
  
  .bioCol{
    font-size:1rem;
    max-width:60vw;
    margin:0 auto;
    text-align:left;
    position:relative;
    margin-bottom: 5vh;
    float:left;
  }

  .bioRow{
      margin-bottom:10vh;
  }
  
  .bioimage{
    float:left;
    position: relative;
    border-radius: 2vw;
    margin-left: 5vw;
    margin-bottom:18vh;
    margin-top:8vh;
    width: 18rem;
  }
  .bioCol{
      text-align:left;
      justify-content: center;
      align-items: center;
  }

  .imgCol{
    text-align:left;
    margin-top:0;
    padding-right:5vw!important;
  }
  .biop{
    font-size:1.2rem;
      float:right;
      margin-left:7vw;
      margin-top:5vh;
      padding-right:3vh;
      margin-bottom:10vh;
  }
  
.aboutmeTitle{
  text-align:left;
  margin-left:7vw;
  margin-bottom:0;
  margin-top:0;
}
  
  @media only screen and (max-device-width: 820px) {
      .imgCol{
          text-align:center;
          justify-content: center;
          align-items: center;
          margin:0 auto;
      }
      .bioCol{
          margin:0 auto;
      }
    .bioimage{
      padding: 0 auto;
      margin-bottom:10vh;
      margin-left: 0!important;
    }
    .biop{
        float:left;
        padding: 0 !important;
        width: 80%;
        margin-bottom: 15vh;
    }
  }
  @media only screen and (max-device-width: 770px) {
    .bioimage{
      width: 15rem!important;
      margin-top: 11vh!important;
    }
    .biop{
      margin-left:2vw!important;
      margin-top: 2vh!important;
    }
    .aboutmeTitle{
      margin-left: 5vw!important;
    }
  }
  @media only screen and (max-device-width: 620px) {
    .bioimage{
      margin-left:30vw!important;
      margin-top:0!important;
      margin-bottom:20vh!important;
    }
    .biop{
      width:95vw;
      margin:0 auto!important;
      margin-bottom:5vh!important;
      margin-left:5vw!important;
    }
    .aboutmeTitle{
      margin-bottom:2vh;
    }
  }
  @media only screen and (max-device-width: 450px) {
    .about{
      font-size:2.5rem;
    }
    .biop{
        margin-top:2vh;
        float:left;
    }
    .bioimage{
        margin-bottom:2vh;
        margin-left:12vw!important;
    }
  }

  @media only screen and (max-device-width: 380px) {
    .bioimage{
      margin-left:10vw!important;
    }
  }