.container{
    margin-top:0;
    margin-bottom:5vh;;
    width:100%;
    top:0;
  }
  
  .missionCol{
    font-size:1rem;
    width:60vw;
    margin:0 auto;
    text-align:left;
    justify-content: center;
    align-items: center;
    position:relative;
    margin-bottom:8vh!important;
    float:left;
  }
  
  .missionimage{
    width: 37vw;
    /* max-height:40vh; */
    float:left;
    position: relative;
    border-radius: 2vw;
    /* margin-top:5vh; */
    margin:0;
    margin-top:1vh!important;
  }

  .imgCol{
    text-align:left;
    margin-top:0;
    padding-right:5vw!important;
  }

  .missionp{
    font-size:1.2rem;
    float:left;
    margin-top:5vh;
    margin-bottom:12vh;
  }

  .missionHeader{
    text-align:left;
    margin-left:7vw;
    margin-bottom:0;
    margin-top:0;
  }
  @media only screen and (max-device-width: 620px) {
    .imgCol{
      margin:0 auto;
      padding:0 auto;
      /* width:100vw; */
    }
    .missionimage{
      width: 90vw!important;
      /* padding: 0 auto; */
      margin: 0 auto!important;
      margin-bottom:1vh;
      margin-left:8vw;
    }
    .missionHeader{
      margin-left: 5vw!important;
    }
  .missionCol{
      margin:0 auto;
      margin-left: 2vw;
    width: 95vw!important;
  }
  .missionp{
      float:left;
      /* width:100vw; */
      margin-top: 2vh;
      margin-left:2vw!important;
  }
  }
  @media only screen and (max-device-width: 400px) {
    .about{
      font-size:2.5rem;
    }
    .missionp{
        margin-top:2vh;
        float:left;
    }
    .missionimage{
        margin-bottom:2vh;
    }
  }
