.container{
    margin-top:0;
    margin-bottom:5vh;;
    width:100%;
    top:0;
  }
  
  .missionCol{
    font-size:1rem;
    max-width:60vw;
    margin:0 auto;
    text-align:left;
    position:relative;
    margin-bottom: 10vh!important;
    float:left;
  }

  .missionRow{
      margin-bottom:5vh!important;
  }
  
  .missionimage{
    max-width: 37vw;
    /* max-height:40vh; */
    float:left;
    position: relative;
    border-radius: 2vw;
    /* margin-top:5vh; */
    margin:0;
  }
  .missionCol{
      font-size:1rem;
      text-align:left;
      justify-content: center;
      align-items: center;
  }

  .imgCol{
    text-align:left;
    margin-top:0;
    padding-right:5vw!important;
  }
  .missionp{
      float:left;
      margin-top:5vh;
  }
/*   
  .bluetext{
    color:#007bff;
  } */
  
  
  @media only screen and (max-device-width: 400px) {
    .about{
      font-size:2.5rem;
    }
    .missionp{
        margin-top:2vh;
        float:left;
    }
    .missionimage{
        margin-bottom:2vh;
    }
  }
  @media only screen and (max-device-width: 767px) {
      .imgCol{
          text-align:center;
          justify-content: center;
          align-items: center;
          margin:0 auto;
      }
      .missionCol{
          margin:0 auto;
      }
    .missionimage{
      max-width:90vw;
      padding: 0 auto;
      margin-bottom:2vh;
      margin: 0 auto;
    }
    .missionp{
        float:left;
        margin-left:10vw;
        width:100%;
    }
  }