.contact{
  font-size:2rem;
  font-family: 'Spartan', sans-serif;
  padding:0; 
}
.contactdesc{
  margin-bottom:4vh;
}
.contactbackground{
  background-color: white;
  background-repeat: no-repeat;
  background-size:cover;
  height:100vh;
  /* padding-top:15vh; */
  width:100vw!important;
  margin:0;
}

.label{
  font-size:1rem;
  margin-right:1vw;
  font-family: 'Spartan', sans-serif;
}

.form {
  text-align: center;
  align-content: center;
  margin:0 auto !important;
  margin-bottom:5vh;
}

.form-group{
  margin:0 auto;
  justify-content: center;
}

.form-control{
  border-color:rgb(133, 133, 133);
}

.label{
  padding-bottom:1vh;
}

#nameinput{
  margin: 0 auto;
  margin-bottom:2vh;
  width:17rem;
  border-radius: 0.5vw;
  height:2rem;
}

#emailinput{
  margin: 0 auto;
  margin-bottom:2vh;
  width:17rem;
  border-radius: 0.5vw;
  height:2rem;
}

#messageinput{
  margin: 0 auto;
  width:19rem;
  border-radius: 0.5vw;
  max-width:50vw;
  max-height:30vh;
}

.sendBtn{
  margin:0 auto;
  border-radius: 1vw;
  padding:0.2rem;
  font-family: 'Spartan', sans-serif;
  background-color:white;
  color:black;
  margin-bottom:20vh;
}

.sendBtn:hover{
  background-color: #acbbd4;
  color:white;
  border:1px solid white;
}

.sendBtn:active{
  background-color: rgba(26, 26, 104, 0.726);
  color:white;
  border:1.5px solid white;
}

.sendIcon{
  float:left;
}
.sendMsg{
  margin: 0 auto;
    float: right;
    margin-top: 5%;
}

@media only screen and (max-device-width:650px) {
  .contact{
      font-size:2rem;
  }
  #messageinput{
      max-width:none;

  }
}
@media only screen and (max-device-width:380px) {
  .contact{
      font-size:1.5rem;
  }
  .label{
      font-size:0.8rem;
  }
  #nameinput{
      max-width:90vw;
  }
  #emailinput{
      max-width:90vw;
  }
  #messageinput{
      max-width:90vw;
  }
  .sendBtn{
      font-size:0.7rem;
  }
}
