.bannerimg{
    z-index: 0;
    width:100vw;
    position: relative;
    display:block;
    margin-top:10vh!important;
}

.bannerRow{
    padding: 0 auto!important;
}

.bannertitle{
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 4em;
    position: absolute;
    text-align: center;
    top:24%;
    left:40%;
    margin: 0 auto!important;
    padding:0 auto!important;
    color: #acbbd4;
    z-index: 3;
    float: center;
}

.titleContainer{
    width:100vw;
    justify-items:center;
    align-items: center;
    text-align: center;
    padding: 0 auto;
    float:center;
}

.jumbotron{
    top:0;
    width:100%;
    margin:0;
}

@media only screen and (max-width: 1160px) {
    .bannertitle{
        top:22%;
        left:38%;
    }
}

@media only screen and (max-width: 1000px) {
    .bannertitle{
        top: 18%;
        left: 35%;
    }
}

@media only screen and (max-width: 860px) {
    .bannertitle{
        top: 15%;
        left: 34%;
    }
}

@media only screen and (max-width: 770px) {
    .bannertitle{
        top: 15%;
        left:32%;
    }
}

@media only screen and (max-width: 630px) {
    .bannertitle{
        font-size:3.5em;
        top: 15%;
        left:31%;
    }
}

@media only screen and (max-width: 520px) {
    .bannertitle{
        font-size:3em;
        top: 14%;
        left:30%;
    }
}

@media only screen and (max-width: 430px) {
    .bannertitle{
        font-size:2.5em;
        top: 13%;
        left:28%;
    }
}

@media only screen and (max-width: 350px) {
    .bannertitle{
        font-size:2.5em;
        top: 12%;
        left:22%;
    }
}
