.sculptureimage{
    width:50vw;
    position:relative;
    float: left;
    margin-left: 10vw;
    padding-bottom:10vh;
    max-width:30vw;
}

.myartHeader{
    font-size:4rem;
    margin-bottom:1vh!important;

}